[Unit]
Description=N4D Daemon
Wants=network-pre.target
Before=network-pre.target
StartLimitBurst=10
StartLimitIntervalSec=100

[Service]
Type=notify
User=root
ExecStart=/usr/sbin/n4d-server
StandardOutput=journal
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

